@import "tailwindcss";

@theme {
  --color-main: #ffe36a;
  --color-black: #111;
  --color-gray: #1a1a1a;

  --font-permanent-marker: var(--font-permanent-marker);
}

/* 기본 라이트 모드 */
:root {
  --background: #fff;
  --foreground: var(--color-black);
}

/* 다크 모드 전환 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-black);
    --foreground: #fff;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  line-height: 1.5;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-song-myung), sans-serif;
}
