@import "tailwindcss";
@theme {
  --color-bg: #f8f8f8;
  --color-point: #ceec46;
  --color-text-black: #1a1a1a;
  --color-text-600: #4a5565;
  --color-text-700: #364153;

  --font-pretendard: var(--font-pretendard);
  --font-sekuya: var(--font-sekuya);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--font-pretendard), sans-serif;
  line-height: 1.5;
  color: var(--color-text-black);
}

button {
  cursor: pointer;
}
