@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-blue: #6e88b0;
  --color-cream: #fffcef;
  --font-permanent-marker: var(--font-permanent-marker);
}

/* 기본 라이트 모드 */

/* 다크 모드 전환 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-black);
    --foreground: #fff;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  line-height: 1.5;
  font-family: var(--font-song-myung), sans-serif;
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Animation utility classes */
.animate-marquee-right {
  animation: marquee-right 45s linear infinite;
}

.animate-marquee-left {
  animation: marquee-left 45s linear infinite;
}
