@import "tailwindcss";
@theme {
  /* Base */
  --color-bg: #f8f8f8;
  --color-point: #ceec46;

  /* Text */
  --color-text-black: #1a1a1a;
  --color-text-600: #4a5565;
  --color-text-700: #364153;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--font-sekuya), var(--font-pretendard), sans-serif;
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

/* 사용했다 현재 안쓰는 css -> 프로젝트 마지막까지 사용하지않으면 삭제필요 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}

@layer utilities {
  .hover-letter {
    @apply transition-all duration-300 ease-out;
  }

  .hover-letter:hover {
    @apply tracking-wider opacity-100;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 45s linear infinite;
}
