@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-green: #b7c276;
  --color-cream: #fdfcea;
  --color-gray: #929f9a;
  --color-gray-strong: #5f665a;
  --font-permanent-marker: var(--font-permanent-marker);
}

@layer utilities {
  .hover-letter {
    @apply tracking-normal opacity-70 transition-all duration-300 ease-out;
  }

  .hover-letter:hover {
    @apply tracking-wider opacity-100;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  line-height: 1.5;
  font-family: var(--font-song-myung), sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

/* ===== Firefox ===== */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-right {
  animation: marquee-right 45s linear infinite;
}

.animate-marquee-left {
  animation: marquee-left 45s linear infinite;
}
